<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSS TAX REPORT</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/custom.css" rel="stylesheet" >
</head>
<body>
    <div class="header">
        <img src="JSSMVP_logo.jpeg" alt="Left Logo" style="width: 100px; height: 100px;">
        <div class="header-title">JSS TAX REPORT</div>
        
        <% if (isLoggedIn) { %>
            <% if (isAdmin) { %>
                <p>Logged in as ADMIN</p>
            <% } else { %>
                <p>Logged in as Division <%= division_id %></p>
            <% } %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </div>