<%- include('partials/header'); -%>
<div class="form-container">
    <form action="/new" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="division-id">DIVISION ID :</label>
            <input id="division-id" type="number" name="division-id" required
            <% if (division_id) { %>
            value="<%= division_id %>"
            readonly
            class="gray-out"
            <% } %>
            >
        </div>

        <div class="form-group">
            <label for="division">DIVISION :</label>
            <input id="division" type="text" name="division" required
            <% if (division) { %>
                value="<%= division %>"
                readonly
                class="gray-out"
                <% } %>
            >
        </div>

        <div class="form-group">
            <label for="districts">DISTRICT:</label>
            <select name="district" id="districts">
                <option value="Bengaluru Urban">Bengaluru Urban</option>
                <option value="Bengaluru Rural">Bengaluru Rural</option>
                <option value="Mysuru">Mysuru</option>
                <option value="Mandya">Mandya</option>
                <option value="Davanagere">Davanagere</option>
                <option value="Dharwad">Dharwad</option>
                <option value="Chamarajanagara">Chamarajanagara</option>
                <option value="Hassan">Hassan</option>
                <option value="Kolar">Kolar</option>
                <option value="Ballari">Ballari</option>
                <option value="Tumkur">Tumkur</option>
            </select>
        </div>

        <div class="form-group">
            <label for="taluk">TALUK :</label>
            <input id="taluk" type="text" name="taluk" required>
        </div>

        <div class="form-group">
            <label for="city">VILLAGE / CITY :</label>
            <input id="city" type="text" name="city" required>
        </div>

        <div class="form-group">
            <label for="khatha-no">KHATHA OR PROPERTY NO :</label>
            <input id="khatha-no" type="number" name="khatha-no" required>
        </div> 

        <div class="form-group">
            <label for="institution-name">Name of the Institution :</label>
            <input id="institution-name" type="text" name="institution-name" required>
        </div>

        <div class="form-group">
            <label for="khathadar-name">Name of the Khathadar :</label>
            <input id="khathadar-name" type="text" name="khathadar-name" required>
        </div>

        <div class="form-group">
            <label for="property-id">PID No :</label>
            <input id="property-id" type="number" name="property-id" required>
        </div>

        <div class="form-group">
            <label for="vacant-area">Dimension of Vacant Area (sqft) :</label>
            <input id="vacant-area" type="number" name="vacant-area" required>
        </div>

        <div class="form-group">
            <label for="building-area">Dimension of Building Area (sqft) :</label>
            <input id="building-area" type="number" name="building-area" required>
        </div>

        <div class="form-group">
            <label for="total-dimension">Total Dimension (sqft) :</label>
            <input id="total-dimension" type="number" name="total-dimension" required>
        </div>

        <div class="form-group">
            <label for="department">To Which Department Paid:</label>
            <select name="department" id="department">
                <option value="BBMP">BBMP</option>
                <option value="MCC">MCC</option>
                <option value="KHB">KHB</option>
                <option value="KIADB">KIADB</option>
                <option value="Nagara-Sabha">Nagara Sabha</option>
                <option value="Grama-Panchayat">Grama Panchayat</option>
            </select>
        </div>

        <div class="form-group">
            <label for="payment-year">Year of Payment :</label>
            <input id="payment-year" type="number" name="payment-year" required min="1900">
        </div>

        <div class="form-group">
            <label for="receipt-no">Receipt No / Challan No :</label>
            <input id="receipt-no" type="number" name="receipt-no" required>
        </div>

        <div class="form-group">
            <label for="property-tax">Property Tax :</label>
            <input id="property-tax" type="number" name="property-tax" required>
        </div>

        <div class="form-group">
            <label for="rebate">Rebate :</label>
            <input id="rebate" type="number" name="rebate" required>
        </div>

        <div class="form-group">
            <label for="service-tax">Service Tax :</label>
            <input id="service-tax" type="number" name="service-tax" required>
        </div>

        <div class="form-group">
            <label for="cesses">Cesses :</label>
            <input id="cesses" type="number" name="cesses" required>
        </div>

        <div class="form-group">
            <label for="interest">Interest :</label>
            <input id="interest" type="number" name="interest" required>
        </div>

        <div class="form-group">
            <label for="penalty">Penalty :</label>
            <input id="penalty" type="number" name="penalty" required>
        </div>

        <div class="form-group">
            <label for="total-amount">Total Amount :</label>
            <input id="total-amount" type="number" name="total-amount" required>
        </div>

        <div class="form-group">
            <label for="remarks">Remarks :</label>
            <input id="remarks" type="text" name="remarks">
        </div>

        <div class="form-group">
            <label for="image">Bill Image (Max size: 5MB):</label>
            <input id="image" type="file" name="image" accept="image/jpeg, image/png, image/gif">
        </div>
        <div class="submit-button">
            <button type="submit">Submit</button>
        </div>

        <div class="footer">
            <div class="cpy">
                <br>
                <p>&copy; All rights reserved.</p>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer'); -%>
